body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, td, #inputArea {
    text-align: center;
}

#dataTable {
    margin-top: 25px;
}

caption, #mrcTitle {
    font-size: 32px;
    color: #C35A15;
    margin-bottom: 16px;
}

th {
    width: 20%;
    text-decoration: underline;
}

#mrcTable {
    width: 100%;
}

.mrcData {
    padding-top: 24px;
    width: 50%;
    font-weight: bold;
    text-align: right;
}

#mrcTable tr td:nth-child(2) {
    text-align: left;
    font-size: 32px;
}